*,
*:after,
*:before {
  box-sizing: border-box;
  user-select: none;
}

html{
  font-size: calc(100vw / 1920 * 10);
  line-height: 1;

  @include media('<phone'){
    font-size: calc(100vw / 750 * 10);
  }
}
body {
  @extend %description-16;

  font-family: $font-suisse-bp;
}

a{
  color: inherit;
  outline: none;
  text-decoration: none;
}

button{
  background:none;
  color: inherit;
  cursor: pointer;
  outline: none;
  border: 0;
}

img{
  vertical-align: middle;
}